/* CSS Document */
@media screen and (max-width: 481px){

	#WELCOMEH1 {
		font-size: 10px;
		font-family: verdane;
	}
    #GOAL {
        font-size: 5px;
        font-family: verdana;
    }

}
#WELCOMEH1 {
    font-size: 20px;
    font-family: verdana;
}
#GOAL {
    font-size: 15px;
    font-family: verdana; 
}
